.res-button{
    margin-top: 70px;
    height: 500px;
    width: 900px;
    background-color: #9f9f9f;
    color: black;
    font-size: 66px;
    font-family: 'Press start 2p';
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 10px 10px 10px white ;
}